/*style specification for body section*/
body {
	margin: 10px;
	background: url("cont.jpg");
	background-size: cover;
}

/*style specification for logo*/
#logo {
    margin: 10px 34px;
}

/*style specification for logo img*/
#logo img {
    height: 59px; 
    margin: 3px 6px;
}

/*style specification for navbar*/ 
.navbar{
    background-color:#37474F;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 9999; 
	width: 100%; 
	height: 72px; 
}

/*style specification for navbar ul*/  
.navbar ul{
	overflow: auto;
}

/*style specification for navbar li*/
.navbar li{
	float: right;
	list-style: none;
    margin: 13px 20px;
}

/*style specification for navbar ul li a*/
.navbar li a{
	text-decoration: none;
	color: rgb(39, 205, 47);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
	font-weight: bold;
}

/*style specification for navbar ul li a*/
.navbar ul li a{
    display:block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none; 


}

/*style specification for navbar ul div*/
.navbar ul div {
	float: left;
	font-size: 10px;
	padding: 5px 15px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*style specification for navbar li a:hover*/
.navbar li a:hover {
	color: rgb(240, 16, 16);
}

/*style specification for navbar li a:active*/
.navbar li a.active {
	color: rgb(230, 56, 56);
	text-decoration: none;
	border-radius: 0px;
	border-style: solid;
	border-color: rgb(230, 56, 56);
	border-width: 0px 0px 4px 0px;
}

/*style specification for h2*/
h2{
    font-size: 3.5rem;
    padding: 12px;
    color: rgb(195, 246, 8);
}

/*style specification for h4*/
h4{
    font-size: 2.0rem;
    padding: 12px;
    color: rgb(8, 246, 206);
}

/*style specification for copyright section*/
.copyright{
	color: aliceblue;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}
